{% extends 'base.html'%}
{% block content%}
<div class="d-flex justify-content-between">
    <h1>Add a New User</h1>
    <a href="/">Home</a>
</div>
<form class="d-flex align-items-start flex-column" action="/create_user" method="POST">
    <label for="fname">First name: </label>
    <input type="text" name="fname">
    <label for="lname">Last name: </label>
    <input type="text" name="lname">
    <label for="email">Email: </label>
    <input type="text" name="email">
    <input type="submit" value="Create">
</form>
{%  endblock %}