{% extends 'base.html' %}
{% block content %}
<body>
    <h1>Welcome to Car Dealz, {{user_in_db.first_name}} </h1>
    <div class="sub-header">
        <div>
            <h3 class="page_title">Cars for sale</h3>
        </div>
        <div>
            <form  action="/logout">
                <button class="action_button bg-warning" type="submit">Logout</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <th>Model</th>
            <th>Year</th>
            <th>Seller</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for car in all_cars %}
            <tr>
                <td>{{car.model}}</td>
                <td>{{car.year}}</td>
                <td>{{car.seller.first_name}} {{car.seller.last_name}}</td>
                {% if session['user_id'] == car.seller.id %}
                    <td><a href="/edit/{{car.id}}"> Edit </a><a href="/delete/{{car.id}}"> | Delete {{car.id}} {{car.user_id}} {{session['user_id']}}</a></td>
                    {% else %}
                    <td><a href="/view/{{car.id}}">View</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form class="add_car" action="/new">
        <button class="action_button bg-info-subtle"type="submit">Add a car</button>
    </form>
</body>
{% endblock %}