{% extends 'base.html' %}
{% block content %}
<body>
    <div class="card-body">
        <h2 class="card-title text-primary">{{dojo.name}} Ninjas</h2>
        <table class="table table-info">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>

            <tbody>
                {% for ninja in dojo.ninjas %}
                <tr>
                    <td>{{ ninja.first_name }}</td>
                    <td>{{ ninja.last_name }}</td>
                    <td>{{ ninja.age }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="/" class="text-center mx-auto">Home</a>
</body>
{% endblock %}