<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Great Number Game</title>
</head>
<body>
    <h1 class="text-dark text-center mx-auto my-5">Great Number Game Leaderboard</h1>
    <table class="bg-primary mx-auto my-5 col-3">
        <tr class="text-light">
            <th>Name:</th>
            <th>Score:</th>
        </tr>
        {% for player in leader_board %}
            <tr>
                <td class="text-warning">
                    {{player[0]}}
                </td>
                <td class="text-warning">
                    {{player[1]}}
                </td>
                {% endfor %}
            </tr>
    </table>
    <a href="/reset" class="btn btn-warning mx-auto mt-5">Play again</a>
</body>
</html>