{% extends 'base.html'%}
{% block content%}
<div class="d-flex justify-content-between">
    <h1>Edit User</h1>
    <a href="/">Home</a>
</div>
<form class="d-flex align-items-start flex-column" action="/user/update/{{ user.id }}" method="POST">
    <h2 class="text-center">Update user info for {{user.first_name}} {{user.last_name}} </h2>
    <input type="hidden" name="id" value={{user.id}}>
    <label for="first_name">First name: </label>
    <input type="text" name="first_name" class="form-control" value="{{user.first_name}}">
    <label for="last_name">Last name: </label>
    <input type="text" name="last_name" class="form-control" value="{{user.last_name}}">
    <label for="email">Email: </label>
    <input type="text" name="email" class="form-control" value="{{user.email}}">
    <input class="bg-info mt-2 mb-2" type="submit" value="update">
</form>
{% endblock%}