{% extends 'base.html' %}
{% block content %}
        
    <h3>your gold: {{session['gold']}}</h3>
    <div class="form_container">
        <form action="/process_money" method='POST'>
            <input type='hidden' name="building" value="farm"/> 
            <div>(earn 10-20 golds)</div>
            <input class="bg-warning" type="submit" value="Find Gold"/>
        </form>
        <form action="/process_money" method='POST'>
            <input type='hidden' name="building" value="cave"/> 
            <div>(earn 5-10 golds)</div>
            <input class="bg-warning" type="submit" value="Find Gold"/>
        </form>
        <form action="/process_money" method='POST'>
            <input type='hidden' name="building" value="house"/> 
            <div>(earn 2-5 golds)</div>
            <input class="bg-warning" type="submit" value="Find Gold"/>
        </form>
        <form action="/process_money" method='POST'>
            <input type='hidden' name="building" value="casino"/> 
            <div>(earn/lose 0-50 golds)</div>
            <input class="bg-warning" type="submit" value="Find Gold"/>
        </form>
    </div>
    <div class="activity">
        <h3>Activity:</h3>
        <div class="activity_box">
            {% for i in session['activity'] %}
                {% if i[1] == "red" %}
                    <p class="red">{{i[0]}}</p>
                {% else %}
                    <p class="green">{{i[0]}}</p>
                {% endif %}
                
            {% endfor %}
        </div>
    </div>
    <div class="reset">
        <a href="/reset" class="btn btn-danger mt-5">Reset</a>
    </div>
{% endblock  %}
