{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="header d-flex justify-content-between">
            <h1>Add a New User</h1>
            <a href="/">Home</a>
        </div>
        <div class="content">
            <form action="/create_user" method="POST">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
                <label for="email">First Name:</label>
                <input type="text" name="email">
                <button>Create</button>
            </form>
        </div>
    </div>
</body>
{% endblock%}