<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to our App</h1>
            <nav>
                {% block menu %}
                    {% include 'menu.html' %}
                {% endblock menu%}
            </nav>
    </header>
    <main>
        <form action="/user/create/" method="post">
            <label for="fullName">Enter Full Name</label>
            <input type="text" name="fullName">
            <button>Add To Session</button>
        </form>
    </main>
</body>
</html>